<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Inventaris_Barang_Kantor_Kabupaten_Bantul.Properties.Settings.InvetarisConnectionString"
            connectionString="Data Source=LAPTOP-N82BF3PN;Initial Catalog=Invetaris;User ID=sa;Password=erda123"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>